#center{
    text-align: center;
}

img{
    width: 20%;
    height: auto;
}

#flex-container {
    display: flex;
    align-items: baseline;
    gap: 235px;
}

.bg-red{
    background-color: maroon;
}