.certificate-img {
    height: 250px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.me-img {
    height: 400px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.left-col {
    position: sticky;
    top: 0;
    align-self: flex-start;
    height: fit-content;
}