.bg-red{
    background-color: #c41e3a;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    font-family:calibri;

}



a:link,a:visited{
    display:block;
    font-weight:bold;
    color: white;
    background-color: rgb(42, 42, 212);
    width: 130px;
    text-align:center;
    padding:10px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
}
a:hover,a:active{
    background-color: rgb(196, 20, 20);
}

li{
    float:left;
}

.icon1{
    border: 1px solid black;
    display: block;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: calibri;
    text-transform: uppercase;
    width: 100%;
    max-width: 200px;
    height: 50px;
    text-align: center;
    background: rgb(42, 42, 212);
    margin-top: 10px;
}

.text{
    border: 1px solid black;
    padding: 10px;
    display: block;
    background-color: white;
    margin-bottom: 20px;
    font-family: calibri;
    
}

body{
    background-color: aquamarine;
}

