.bg-red {
    background-color: #c41e3a;
}

.btn-overlay {
    background-color:maroon;
    color: white;
}

.colorred {
    color:darkred;
    text-decoration-line: underline;
    text-decoration-color:darkred;
}