.bg-red{
    background-color: #c41e3a;
}

body {
  background: url("../images/Kaufman\ Fabrics\ Library\ of\ Rarities\ -\ Map\ of\ Hemispheres\ -\ Parchment\ Beige.jpg") no-repeat center center fixed;
  background-size: cover;
}

.content-box {
  background-color: rgba(255, 255, 255, 0.85); /* semi-transparent white */
}