#big{
    font-size: 25px;
    text-align: center;
}

img {
    width: 350px;
    height: 425px;
    border: 7.5px solid #4f4c4c;
    border-radius: 12px;
    object-fit: cover;
    
}
body{
    background-color: lightgray;
}